/modul-1/Manusia/build/
/modul-1/Manusia/nbproject/private/
/modul-1/OBJECT/target/
/modul-3/OBJECTNYA/nbproject/private/
/modul-3/OBJECTNYA/build/
/modul-4/OBJECT/nbproject/private/
/modul-4/main/nbproject/private/
/modul-4/Run/nbproject/private/
/modul-4/Run/build/
/modul-4/modul4/nbproject/private/
/modul-4/modul4/build/
/postest-2/Postest2/nbproject/private/
/postest-2/Postest2/build/
